.App {
  text-align: center;
  
font-family: 'Poppins', sans-serif;
  
}

.main{
  display: flex;
  padding: 2%;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1539721972319-f0e80a00d424?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
 
}
.filtro{
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgb(0, 6, 20, 0.7);
  color:lightblue;
  padding: 1%;
  text-align: center;
}

input{
  margin-bottom: 20px;
  background-color: lightslategray;
}

select{
  background-color: lightslategray;
}

button{

 
  
    background-color: #111827;
   color:lightblue;
   padding: 3px;
   border-radius: 10px;
  


}


button:hoover{
  background-color: black;
}